<div class="ny-tile-wrapper">
	<div class="ny-tile ny-audio-prompt container-fluid">
		<div class="row">
			<div class="col-xs-3">
			</div>
			<div class="col-xs-9">
				<div class="ny-node-item-bubble ny-small">
					<div>{{model.Properties.HeaderText}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<img class="ny-picture" src="img/contacts/1.jpg" alt="">
			</div>
			<div class="col-xs-9">
				<div class="ny-node-item-bubble">
					<i class="md-play-arrow"></i>
				</div>
			</div>
		</div>
	</div>
</div>